<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>My AngularJS App</title>
  <link rel="stylesheet" href="css/app.css"/>
</head>
<body>
  <div ng-view></div>

  <div ng-controller="InterestCtrl">
<!--

TODO live update?
TODO display text boxes with currency?
TODO Do month/year thing
TODO Formatting?

-->
    <label for="startInput" >Starting Value</label> <input id="startInput" type="text" ng-model="interest.start"><br>
    <label for="rateInput">Rate</label> <input id="rateInput" type="text" ng-model="interest.rate"><br>
    <label for="perInput">Time </label>
    <select id="perInput" ng-model="interest.per">
      <option>Year</option>
      <option>Month</option>
    </select> <br>
    <label for="periodsInput">Periods</label> <input id="periodsInput" type="text" ng-model="interest.periods"><br>
    <input type="button" ng-click="interest.calculate()" value="Calculate!">

    <ul>
      <li ng-repeat="item in interest.items">{{ $index }}: {{ item | currency}}</li>
    </ul>

  </div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  -->
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular/angular-route.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
</body>
</html>
